.navbar {
	background-color: #151516;
}
.nnavbarSupportedContent{
	color: white;
}
h5{
	color:#E6E1E0;
	font-family:berlin sons fb demi;
	font-weight: bold; 
}
.navbar-toggler{
	background-color:#FCFFE7;
}

h6{
	color:#E6E1E0;
	font-family:berlin sons fb demi;
	font-weight: bold;
}

.dropdown-menu{
  background-color: #FF8181;
  font-family: berlin sons fb demi;
  font-color: white;
  font-weight: bold;
} 
.dropdown{
	background-color:none;
	font-family:berlin sons fb demi;
	font-weight: bold;
}
.footer{
	position: fixed;
	bottom: 0;
	background-color: #151516;
	color: white;
	text-align: center;
	width: 100%;
	height: 20%;
	font-weight: bold;
	font-family:courier; 
}